<section class="section tasklist">
  <div class="container">
    <input type="text" placeholder="Add New Task" [formControl]="taskName" />
    <button class="btn" (click)="addTask()"><i class="material-icons">add</i></button>
  </div>
  <div class="container">
    <ul class="tasklist-container">
      <li *ngFor="let task of taskList">{{ task }}
        <div>
          <button class="btn" (click)="editTask()"><i class="material-icons">create</i></button>
          <button class="btn" (click)="deleteTask()"><i class="material-icons">delete</i></button>
        </div>
      </li>
    </ul>
  </div>
</section>
