<section class="section tasklist">
  <div class="container">
    <input class="main-input" type="text" placeholder="Add New Item" [formControl]="taskName" required/>
    <input class="main-input" type="number" placeholder="Item Price" [formControl]="taskPrice" required/>
    <button class="btn" (click)="onAddProduct()"><i class="material-icons">add</i></button>
  </div>
  <div class="container">
    <ul class="tasklist-container">
      <li *ngFor="let task of taskList; index as i">{{ i+1 }}- {{ task.name }} {{ task.price | currency}}
        <div>
          <a href="#modal1" class="btn waves-effect waves-light btn modal-trigger" (click)="editTask(i)"><i class="material-icons">create</i></a>
          <button class="btn" (click)="deleteTask(i)"><i class="material-icons">delete</i></button>
        </div>
      </li>
      <div class="total-container">
        <p class="total">{{ totalPrice | currency }}<p>
      </div>
    </ul>
  </div>
</section>

<div id="modal1" class="modalShop">
  <div class="modal-content">
    <h4>Edit Task</h4>
    <input class="input" type="text" [formControl]="editTaksName">
    <input class="input" type="text" [formControl]="editTaskPrice">
    <hr>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn waves-effect" (click)="taskEdited()">Ok</a>
  </div>
</div>
