<section class="section tasklist">
  <div class="container">
    <input class="main-input" type="text" placeholder="Add New Task" [formControl]="taskName" />
    <button [disabled]="taskName.invalid" class="btn" (click)="addTask()"><i class="material-icons">add</i></button>
  </div>
  <div class="container">
    <ul class="tasklist-container">
      <li *ngFor="let task of taskList; index as i" class="list">{{ i+1 }}- {{ task }}
        <div>
          <a href="#modal1" class="btn waves-effect waves-light btn modal-trigger" (click)="editTask(i)"><i class="material-icons">create</i></a>
          <button class="btn" (click)="deleteTask(i)"><i class="material-icons">delete</i></button>
        </div>
      </li>
    </ul>
  </div>
</section>

<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Edit Task</h4>
    <input class="input" type="text" [formControl]="editTaksName">
    <hr>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn waves-effect" (click)="taskEdited()">Ok</a>
  </div>
</div>
